$bg-color: #1a1a1a;
$app-color: #0c0c0c;
$primary-color: #f1f1f1;
$grayed-out: #828980;
$radiant-color: #31866a;
$dire-color: #a3424f;
$gold: #A5813F;
$gold-text: #CBB998;
$app-width: 660px;
$nav-bg: #090909;
$dire-shadow: #38171b;
$rad-shadow: #143127;
$muted-gold: #604E2D;
$muted-green: #265042;
$muted-red: #5F2E35;
$muted-amber: #834F23;
$viewport-width: 100vw;